body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    color: #333;
    padding: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin:auto
}
.product-card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.product-card:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: scale(1.05);
}
.product-card img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}   
.product-card h3{
    color: #333;
    margin: 15px 0px 10px ;
    font size:20px;
}
.product-card p{
    color: #666;
    font-size: 16px;
}
.price{
    font-weight: bold;
    color: rgb(2, 34, 2);
    margin: 10px 0;
    font-size: 18px;
}